{# templates/mailinscription.html.twig #}

<h3>Bienvenue {{ name }},</h3>

<p>Votre inscription a bien été prise en compte. Vous pouvez désormais vous connecter en cliquant sur ce <a href="{{ url('login') }}">lien</a> ou en entrant l'url suivante dans la barre d'adresse de votre navigateur : http://localhost/le3emeservice/public/login</p>

<p>L'équipe du 3ème Service,</p>